<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GalilTools.AutoConnect</key>
	<true/>
	<key>GalilTools.WidgetState</key>
	<data>
	AAAA/wAAAAH9AAAAAwAAAAEAAADIAAAAfvwCAAAAAvsAAAAQAFQAZQByAG0AaQBuAGEA
	bAAAAALwAAAAfgAAAH4A////+wAAAAgARgBpAG4AZAAAAAAA/////wAAALwA////AAAA
	AgAAA34AAALD/AEAAAAC+wAAAAoAVwBhAHQAYwBoAQAAAAAAAAN+AAAAyAD////7AAAA
	CgBUAHUAbgBlAHIAAAABwAAAAb4AAACFAP///wAAAAMAAAN+AAAAJ/wBAAAAAfsAAAAK
	AFMAYwBvAHAAZQEAAAAAAAADfgAAAIUA////AAADfgAAAH4AAAAEAAAABAAAAAgAAAAI
	/AAAAAEAAAACAAAAAQAAAA4AVABvAG8AbABiAGEAcgEAAAAA/////wAAAAAAAAAA
	</data>
	<key>GalilTools.WindowPosition</key>
	<string>@Point(33 27)</string>
	<key>GalilTools.WindowSize</key>
	<string>@Size(894 938)</string>
	<key>Terminal.AutoRepeatRateInMs</key>
	<integer>1000</integer>
	<key>Terminal.ShowUnsolicitedTimeStamps</key>
	<false/>
	<key>Terminal.SplitterState</key>
	<data>
	AAAA/wAAAAAAAAACAAABnAAAAZkBAAAABwEAAAAC
	</data>
	<key>Terminal.TerminalFirst</key>
	<true/>
</dict>
</plist>
